<header>
  <nav>
    <div class="nav-logo-container">
      <!--<img src="/static/assets/spoonify_logo.png" alt="spoonify_logo" />-->
      <h3>Monsterat</h3>
    </div>
    <ul class="nav-links-container">
      <li>
        <a id="fitness-link" class="nav-link" href="/">Home</a>
      </li>
      <li>
        <a id="fitness-link" class="nav-link" href="/fitness">Fitness</a>
      </li>
      <li>
        <a id="food-link" class="nav-link" href="/food">Food</a>
      </li>
      <li><a id="task-link" class="nav-link" href="/task">Task</a></li>
    </ul>
    <div class="nav-button-container">
      <button>Login</button>
    </div>
  </nav>
</header>
