.fitness-container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.left-container {
  width: 30%;
  padding: 10px;
  background-color: cadetblue;
  height: 100%;
}

.right-container {
  width: 70%;
  padding: 0px 10px;
}

table {
  margin: 10px;
  width: 100%;
}

td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  width: 20%;
  text-align: center;
  vertical-align: middle;
}

.right-container-header {
  display: flex;
  flex-direction: row;
}

html,
body {
  height: 100%;
}
