<link rel="stylesheet" href="/static/css/food.css" />

<h1>FOOD PAGE</h1>


<div class="main">
  
  <link rel="stylesheet" href="/static/css/food.css" />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!---
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
  -->
  <h1>FOOD PAGE</h1>
  
  <div class="col-md-12 text-center" >
    <button id="addMealButton"  type="button" class="btn btn-light" data-toggle="modal" data-target="#addMealModal">Add Meal</button>
  
  </div>
    <!-- Add meal modal -->
  
    <div class="modal fade" id="addMealModal" tabindex="-1" role="dialog" aria-labelledby="addMealModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modalLabel">Add Meal</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <input  id="inputMealName1" type="text" class="form-control" placeholder="Meal">
                        </div>
                        <div class="form-group col-md-6">
                           
                          <input type="number" min="0" class="form-control" id="inputMealServings" placeholder="Servings">
                        </div>
                        <div class="form-group col-md-6">
                          <input type="date" class="form-control" id="inputDate" placeholder="Date">
                        </div>
                        <div class="form-group col-md-6">
                          <input type="number" class="form-control" id="inputCalories" placeholder="Calories">
                        </div>
                        <div class="form-group col-md-6">
                          <input type="number" class="form-control" id="inputProtein" placeholder="Protein">
                        </div>
                    </div>
                </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
              <button type="button" onclick="myFunction()" class="btn btn-primary">Login</button>
          </div>
          </div>
      </div>
    </div>
  
  
  
  <div id="foodHistory">

    <table  id="foodHistoryTable" class="table table-striped">
      <thead>
        <tr>
          <th id="date1" scope="col"></th>
          <th id="date2" scope="col"></th>
          <th id="date3" scope="col"></th>
          <th id="date4" scope="col"></th>
          <th id="date5" scope="col"></th>
          <th id="date6" scope="col"></th>
          <th id="date7" scope="col"></th>
          <th id="date8" scope="col"></th>
        </tr>
        <tr>
          <th scope="col"></th>
          <th id="day1" scope="col"><span class="weekday"></span></th>
          <th id="day2" scope="col"><span class="weekday"></span)</th>
          <th id="day3" scope="col"><span class="weekday"></span></th>
          <th id="day4" scope="col"><span class="weekday"></span></th>
          <th id="day5" scope="col"><span class="weekday"></span></th>
          <th id="day6" scope="col"><span class="weekday"></span></th>
          <th id="day7" scope="col"><span class="weekday"></span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Breakfast &#9660;</th>
          <td>
            <div>
             <p id="MBName">Meal Name : None</p> 
            </div>
          </td>
          <td>
            <div>
             <p id="TUESBName">Meal Name : None</p> 
            </div>
          </td>
          <td>
            <div>
             <p id="WBName">Meal Name : None</p> 
            </div>
          </td>
          <td>
            <div>
             <p id="THUBName">Meal Name : None</p> 
  
            </div>
          </td>
          <td>
            <div>
             <p id="FBName">Meal Name : None</p> 
  
            </div>
          </td>
          <td>
            <div>
              <p id="SATBName">Meal Name : None</p> 
  >
             </div>
          </td>
          <td>
            <div>
              <p id="SUNBName">Meal Name : None</p> 
  
             </div>
          </td>
        </tr>
        
        <tr>
          <th scope="row">Lunch &#9660;</th>
          <td>
            <div>
             <p id="MLName">Meal Name : None</p> 
            </div>
          </td>
          <td>
            <div>
             <p id="TUESLName">Meal Name : None</p> 
  
            </div>
          </td>
          <td>
            <div>
             <p id="WLName">Meal Name : None</p> 
            </div>
          </td>
          <td>
            <div>
             <p id="THULName">Meal Name : None</p> 
  
            </div>
          </td>
          <td>
            <div>
             <p id="FLName">Meal Name : None</p> 
  
            </div>
          </td>
          <td>
            <div>
              <p id="SATLName">Meal Name : None</p> 
  
             </div>
          </td>
          <td>
            <div>
              <p id="SUNLName">Meal Name : None</p> 
  
             </div>
          </td>
        </tr>
        <tr>
          <th scope="row">Dinner &#9660;</th>
          <td>
            <div>
             <p id="MDName">Meal Name : None</p> 
  
            </div>
          </td>
          <td>
            <div>
             <p id="TUESDName">Meal Name : None</p> 
  
            </div>
          </td>
          <td>
            <div>
             <p id="WDName">Meal Name : None</p> 
  
            </div>
          </td>
          <td>
            <div>
             <p id="THUDName">Meal Name : None</p> 
  
            </div>
          </td>
          <td>
            <div>
             <p id="FDName">Meal Name : None</p> 
  
            </div>
          </td>
          <td>
            <div>
              <p id="SATDName">Meal Name : None</p> 
             </div>
          </td>
          <td>
            <div>
              <p id="SUNDName">Meal Name : None</p> 
             </div>
          </td>
        </tr>
        <tr>
          <th scope="row">Total Nutritional Value</th>
          <td>
            <div>
             <p id="MCalorie">Calories : 0.0</p>
             <p id="MProtein">Protein : 0.0g </p>
            </div>
          </td>
          <td>
            <div>
  
             <p id="TUESCalorie">Calories : 0.0</p>
             <p id="TUESProtein">Protein : 0.0g </p>
            </div>
          </td>
          <td>
            <div>
  
             <p id="WCalorie">Calories : 0.0</p>
             <p id="WProtein">Protein : 0.0g </p>
            </div>
          </td>
          <td>
            <div>
  
             <p id="THUCalorie">Calories : 0.0</p>
             <p id="THUProtein">Protein : 0.0g </p>
            </div>
          </td>
          <td>
            <div>
             <p id="FCalorie">Calories : 0.0</p>
             <p id="FProtein">Protein : 0.0g </p>
            </div>
          </td>
          <td>
            <div>
              <p id="SATCalorie">Calories : 0.0</p>
              <p id="SATProtein">Protein : 0.0g </p>
             </div>
          </td>
          <td>
            <div>
              <p id="SUNCalorie">Calories : 0.0</p>
              <p id="SUNProtein">Protein : 0.0g </p>
             </div>
          </td>
        </tr>
      </tbody>
    </table>
  
  </div>
  <script>
    window.onload = function () {
    
    var chart = new CanvasJS.Chart("chartContainer", {
      animationEnabled: true,
      theme: "light2",
      title:{
        text: "Simple Line Chart"
      },
      data: [{        
        type: "line",
            indexLabelFontSize: 16,
        dataPoints: [
          { y: 2600 },
          { y: 2700 },
          { y: 3000, indexLabel: "\u2191 highest",markerColor: "red", markerType: "triangle" },
          { y: 2400 },
          { y: 2500 },
          { y: 2100 , indexLabel: "\u2193 lowest",markerColor: "DarkSlateGrey", markerType: "cross" }
        ]
      }]
    });
    chart.render();
    
    }
    </script>

<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script src="/static/js/food.js" defer></script>


<div id="wrapper">
  <div id="est-finish-dates">
    <table>
      <tr>
        <th id="date1"></th>
        <th id="date2"></th>
        <th id="date3"></th>
        <th id="date4"></th>
        <th id="date5"></th>
        <th id="date6"></th>
        <th id="date7"></th>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a href="https://www.telepathics.xyz/commissions" target="_blank" rel="noopener noreferrer">publish site!</a>
          <span class="type">&amp; update codepen</span>
        </td>
        <td></td>
        <td>
        </td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
  

      </tr>
      <tr>
        <td></td>
        <td></td>

      </tr>
    </table>
  </div>
  </div>
  