<link rel="stylesheet" href="/static/css/food.css" />

<div class="col-md-12 text-center">
  <h1 class="display-4 text-center mb-4">Log your food! 😋</h1>
</div>

<div class="main">
  
  <link rel="stylesheet" href="/static/css/food.css" />
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
  
  <div class="col-md-12 text-center" >
    <button id="addMealButton"  type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMealModal">Add Meal</button>  
  </div>

  <br>
  
    <!-- Add meal modal -->
  
    <div class="modal fade" id="addMealModal" tabindex="-1" role="dialog" aria-labelledby="addMealModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="modalLabel">Add Meal</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <input  id="inputMealName1" type="text" class="form-control" placeholder="Meal">
                        </div>
                        <div class="form-group col-md-6">
                           
                          <input type="number" min="0" class="form-control" id="inputMealServings" placeholder="Servings">
                        </div>
                        <div class="form-group col-md-6">
                          <input type="date" class="form-control" id="inputDate" placeholder="Date">
                        </div>
                        <div class="form-group col-md-6">
                          <input type="number" class="form-control" id="inputCalories" placeholder="Calories">
                        </div>
                        <div class="form-group col-md-6">
                          <input type="number" class="form-control" id="inputProtein" placeholder="Protein">
                        </div>
                        <div class="form-group col-md-6">
                          <select id="mealTypeDropdown" class="custom-select" required>
                            <option value="" selected disabled>Meal Type</option>
                            <option value="Breakfast">Breakfast</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Dinner">Dinner</option>
                          </select>
                        </div>
                    </div>
                </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
              <button id="addMealButton" type="button"  data-dismiss="modal"type="submit" onclick="myFunction()" class="btn btn-primary">Submit</button>
          </div>
          </div>
      </div>
    </div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script src="/static/js/food.js" defer></script>

  

  <table id="foodHistoryTable" class="table" style=" word-wrap:break-word; width: 100%" >
    <colgroup>
      <col span="1" style="width: 16%;">
      <col span="1" style="width: 12%;">
      <col span="1" style="width: 12%;">
      <col span="1" style="width: 12%;">
      <col span="1" style="width: 12%;">
      <col span="1" style="width: 12%;">
      <col span="1" style="width: 12%;">
   </colgroup>
    <thead>
      <tr>
        <th  scope="col"><p id="date1"></p></th>
        <th  scope="col"><p id="date2"></p></th>
        <th  scope="col"><p id="date3"></p></th>
        <th  scope="col"><p id="date4"></p></th>
        <th  scope="col"><p id="date5"></p></th>
        <th  scope="col"><p id="date6"></p></th>
        <th  scope="col"><p id="date7"></p></th>
        <th  scope="col"><p id="date8"></p></th>

      </tr>
      <tr>
        <th scope="col"></th>
        <th scope="col"><p  id="day1"class="weekday"></p></th>
        <th scope="col"><p  id="day2"class="weekday"></p></th>
        <th scope="col"><p  id="day3"class="weekday"></p></th>
        <th scope="col"><p  id="day4"class="weekday"></p></th>
        <th scope="col"><p  id="day5"class="weekday"></p></th>
        <th scope="col"><p  id="day6"class="weekday"></p></th>
        <th scope="col"><p  id="day7"class="weekday"></p></th>
      </tr>
    </thead>
    <tbody id="tbodyForMeals">
      <tr>
        <th scope="row">Breakfast</th>
        <td>
          <div>
           <p id="MBName" class="foodHistoryCell"></p> 
          </div>
        </td>
        <td>
          <div>
           <p id="TUESBName"></p> 
          </div>
        </td>
        <td>
          <div>
           <p id="WBName"></p> 
          </div>
        </td>
        <td>
          <div>
           <p id="THUBName"> </p> 

          </div>
        </td>
        <td>
          <div>
           <p id="FBName"></p> 

          </div>
        </td>
        <td>
          <div>
            <p id="SATBName"></p> 
           </div>
        </td>
        <td>
          <div>
            <p id="SUNBName"></p> 

           </div>
        </td>
      </tr>
      
      <tr>
        <th scope="row">Lunch</th>
        <td>
          <div>
           <p id="MLName"></p> 
          </div>
        </td>
        <td>
          <div>
           <p id="TUESLName"></p> 

          </div>
        </td>
        <td>
          <div>
           <p id="WLName"></p> 
          </div>
        </td>
        <td>
          <div>
           <p id="THULName"></p> 

          </div>
        </td>
        <td>
          <div>
           <p id="FLName"></p> 

          </div>
        </td>
        <td>
          <div>
            <p id="SATLName"></p> 

           </div>
        </td>
        <td>
          <div>
            <p id="SUNLName"></p> 

           </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Dinner</th>
        <td>
          <div>
           <p id="MDName"></p> 

          </div>
        </td>
        <td>
          <div>
           <p id="TUESDName"></p> 

          </div>
        </td>
        <td>
          <div>
           <p id="WDName"></p> 

          </div>
        </td>
        <td>
          <div>
           <p id="THUDName"></p> 

          </div>
        </td>
        <td>
          <div>
           <p id="FDName"></p> 

          </div>
        </td>
        <td>
          <div>
            <p id="SATDName"></p> 
           </div>
        </td>
        <td>
          <div>
            <p id="SUNDName"></p> 
           </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Total Nutritional Value</th>
        <td>
          <div class="cellFloatLeft">
           <p id="MNutrition">Calorie: 0.0 </br></br>Protein : 0.0g </p>
          </div>
        </td>
        <td>
          <div>
            <p id="TuesNutrition">Calorie: 0.0 </br></br>Protein : 0.0g </p>
          </div>
        </td>
        <td>
          <div>
            <p id="WNutrition">Calorie: 0.0 </br></br>Protein : 0.0g </p>
          </div>
        </td>
        <td>
          <div>
            <p id="ThuNutrition">Calorie: 0.0 </br></br>Protein : 0.0g </p>
          </div>
        </td>
        <td>
          <div>
            <p id="FNutrition">Calorie: 0.0 </br></br>Protein : 0.0g </p>
          </div>
        </td>
        <td>
          <div>
            <p id="SNutrition">Calorie: 0.0 </br></br>Protein : 0.0g </p>
           </div>
        </td>
        <td>
          <div>
            <p id="SunNutrition">Calorie: 0.0 </br></br>Protein : 0.0g </p>
           </div>
        </td>
      </tr>
    </tbody>
  </table>