
<body>
  

  <div class="col-md-12 text-center">
    <h1 class="display-4 text-center mb-4">Welcome to Monsterat!</h1>
    <p class="lead">
      Your one-stop destination to measure your productivity.
    </p>
    <p class="text-center">Start by exploring our menu bar and record your activities, food, and tasks!</p>
    <p class="text-center">Although this page has been designed to be responsive to different screen sizes, accessing through browser is recommended.</p>
  </div>