<link rel="stylesheet" href="/static/css/task.css" />
<script src="/static/js/task.js" defer></script>

<h1 class="heading">TASKS</h1>
<br></br>

<form>
    <div class="input_newEntry">
        <label for="input_newEntry">Add a new task here</label>
        <input type="text" class="form-control" id="input_newEntry" placeholder="Add a new task here">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Deadline</label>
        <input type="date" class="form-control" id="dueDate" placeholder="Add deadline">
    </div>
    <div>
        <label for="difficultyLevel">Difficulty level</label>
        <select class="dropdown" class="form-control" id="difficultyDropdown" aria-label="Default select example">
            <option selected>Select difficulty level</option>
            <option value="1">Easy</option>
            <option value="2">Medium</option>
            <option value="3">Difficult</option>
        </select>
    </div>

    <button class="addBtn" id="btn" type="button">Add Task</button>
    <br></br>
</form>

<!-- start of table list -->
<table class="table" id="tasksTable">
    <thead>
        <tr>
            <th scope="col" id="checkboxxx"></th>
            <th scope="col">Task Name</th>
            <th scope="col">Due Date</th>
            <th scope="col">Difficulty</th>
        </tr>
    </thead>
    <tbody id="tbodyForTasks">
    </tbody>
</table>

<!-- <script src="jquery.min.js"></script>
<script>
    $('.table tbody').on('click','.href',function(){
        $(this).closest('tr').remove();
    });
</script> -->



<!-- <table id="tasksTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name (description)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="tbodyForTasks">
        </tbody>
    </table>
  </form> -->

<!-- input fields -->
<!-- <form id="newTaskForm" method="POST" action="/task">

<h1>Add your tasks here!</h1>
<h2>Task Name</h2>
<input id="newTask" type="text" placeholder="Task name">
<h2>Deadline</h2>
<input id="date" type="date">
<h2>Difficulty Level</h2>
<select id="difficulty">
    <option value="Easy">Easy</option>
    <option value="Medium">Medium</option>
    <option value="Difficult">Difficult</option>
</select>
<br></br>

<button type="submit">Add task</button>

</form>

<table>
    <tr>
        <ul>

        </ul>
    </tr>
</table> -->