<link rel="stylesheet" href="/static/css/task.css" />
<script src="/static/js/task.js" defer></script>

<div class="col-md-12 text-center">
    <h1 class="display-4 text-center mb-4">Create your task! 📌</h1>
</div>

<body>
    <form>
        <div class="input_newEntry">
            <label for="input_newEntry">Add a new task here</label>
            <input type="text" class="form-control" id="input_newEntry" placeholder="Add a new task here">
        </div>
        <div class="form-group">
            <br>
            <label for="formGroupExampleInput2">Deadline</label>
            <input type="date" class="form-control" id="dueDate" placeholder="Add deadline">
        </div>
        <div>
            <br>
            <label for="difficultyLevel">Difficulty level</label>
            <select class="dropdown" class="form-control" id="difficultyDropdown" aria-label="Default select example">
                <option selected>Select difficulty level</option>
                <option value="1">Easy</option>
                <option value="2">Medium</option>
                <option value="3">Difficult</option>
            </select>
        <br>
        </div>
        <button class="addBtn" id="btn" type="button">Add Task</button>
        <br>
        <br>
    </form>

    <!-- start of table list -->
    <table class="table" id="tasksTable">
        <thead>
            <tr>
                <th scope="col">Task Name</th>
                <th scope="col">Due Date</th>
                <th scope="col">Difficulty</th>
            </tr>
        </thead>
        <tbody id="tbodyForTasks">
        </tbody>
    </table>
</body>